<div class="containerIll">
    <input id="expand-allergy" type="image" height="23px" width="23px" onclick="expandAllergy()" title="Razširi alergije" src="/assets/expand.png" />
    <div data-bind="title" class="title"></div>
    <br>
    <div id="info-allergy"></div>
</div>

<script>
  var allergies=$("#allergy").data("info");
  var limitAllergy=5;
  $("#info-allergy").append(allergies.slice(0,limitAllergy).join("<br />"));
  function expandAllergy(){
    $("#lightbox").show();
    $('html').css('overflow','hidden');
    $("#content").html("");
    $("#content").css("min-height","0%");
    $("#expand-view").css("min-height","100%");
    $("#expand-view").css("background-color","#ba7400");
    $("#expand-view").html('<div><h1>Alergije</h1><br /><ul><li>'+allergies.join("</li><li>")+"</li></ul></div>");
  }
</script>