<div class="containerIll">
    <div data-bind="title" class="title"></div>
    <br>
    <div id="info-allergy"></div>
</div>

<script>
  var allergies=$("#allergy").data("info");
  $("#info-allergy").append(allergies);
</script>