<%  patId=1
    checkUp=CheckUp.where("patient_id = ?",patId).last
    dietChecks=DietCheck.where("check_up_id = ?",checkUp.id)
    dietIds=[];
    dietChecks.each do |dietCheck|
        dietIds.push(dietCheck.diet_id)
    end
    dietNames=[]
    for el in dietIds
        dietNames.push(Diet.find(el).name)
    end
%>
<div class="container">
    <div data-bind="title" class="title"></div>
    <br>

    <%for i in 0.. dietNames.count%>
        <%= dietNames[i]%><br>
    <% end%>

</div>