<div class="container">
    <div data-bind="title" class="title"></div>
    <br>
    <div id="info-diet"></div>
</div>

<script>
  var diets=$("#diet").data("info");
  $("#info-diet").append(diets);
</script>