<div class="container">
    <input id="expand-pappointment" type="image" height="23px" width="23px" onclick="expandPAppointments()" title="Razširi pretekle preglede" src="/assets/expand.png" />
    <div data-bind="title" class="title"></div>
    <br>
    <table id="info-pappointments"><tr><th>Datum</th><th>Zdravnik</th><th>Ime</th></tr>
    </table>
</div>

<script>
    var pastAppointments=$("#pastAppointment").data("info");
    var limitPastAppointments=5;
    $("#info-pappointments").append( pastAppointments.slice(0,limitPastAppointments).join(""));

    function expandPAppointments(){
        $("#lightbox").show();
        $('html').css('overflow','hidden');
        $("#content").html("");
        $("#content").css("min-height","0%");
        $("#expand-view").css("min-height","100%");
        $("#expand-view").css("background-color","#97664c");
        $("#expand-view").html('<div><h1>Pretekli pregledi</h1><br /> <table id="info-pappointments-extend"><tr><th>Datum</th><th>Zdravnik</th><th>Ime</th>'
                +pastAppointments.join("")+"</table></div>");
    }

</script>