// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------

// ----------------------------------------------------------------------------
// Widget-appointment styles
// ----------------------------------------------------------------------------


.widget-appointment {
  background-color: #51846a;
  vertical-align: baseline !important;
  .title{
    font-size: 35px;
    margin-top: 20%;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.9);
  }

  #info-appointment{
    color: rgba(255, 255, 255, 0.8);
    font-size: 20px;
  }
  #info-appointment b{
    color: rgba(255, 255, 255, 0.9);
  }

}
