// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------

// ----------------------------------------------------------------------------
// Widget-illness styles
// ----------------------------------------------------------------------------

.widget-illness {
  background-color: #843616;
  vertical-align: baseline !important;

  .title{
    font-size: 35px;
    margin-top: 20%;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.9);
  }

  #info-illness{
    font-size: 20px;
    color: #cccccc;
    color: rgba(255, 255, 255, 0.8);
  }
}
