/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require pickadate/default
 *= require pickadate/default.date
 *= require pickadate/default.time
 *= require bootstrap-datepicker3
 */

.gridster{
    padding-left: 250px;
}
#side-menu{
    height: 110%;
    background-color: #1a6665;
    float:left;
    position: fixed;
    width: 250px;
}

#side-menu>ul{
    text-align: left;
    margin: 80px 20px 80px 20px;
    list-style-type: none;
}
#side-menu>ul>li>ul {
    list-style-type: none;
    text-align: left;
    padding-left: 15px;
}


#side-menu>ul>li>ul>a>li:hover{
    text-decoration: underline;
    cursor:pointer;
}

#lightbox {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: rgba(0,0,0,.8);
    text-align:center;
    z-index:2;
    overflow-y: auto;
}
#content{
    overflow-y: auto;
    box-shadow:0 0 25px #111;
    -webkit-box-shadow:0 0 25px #111;
    -moz-box-shadow:0 0 25px #111;
    max-width:940px;
    height:100%;
    margin-left: auto;
    margin-right:auto;
    background-color: rgb(200, 200, 200);
}

#appointmentDetailsShow{
    color: rgba(0, 0, 0, 0.8);
    text-align: left;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 60px;
    padding-bottom: 60px;
}
#appointmentDetailsShow>h1{
    text-align: center;
    font-size: 40px;
}

#appointment-diets>ul,#appointment-allergy>ul,#appointment-illness>ul,#appointment-medicine>ul,#appointment-measurement>ul{
    padding-left: 30px;
}
#appointment-diets>ul>ul{
    padding-left: 40px;
}
#appointment-diets>ul>ul>li:hover,#appointment-medicine>ul>li:hover{
    text-decoration: underline;

}