// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------

// ----------------------------------------------------------------------------
// Widget-meassurement styles
// ----------------------------------------------------------------------------
.widget-meassurement {
  background-color: #005e84;
  vertical-align: baseline !important;

  .title{
    font-size: 35px;
    margin-top: 20%;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.9);
  }

  #measurement-select{
      border:	2px solid #ffffff;
      background-color: #005e84 ;
      color:white;
  }
  #measurement-table{
    margin-top:20px;
    table-layout: fixed;
  }

  #measurement-table,td,th{
    border:	2px solid #ffffff;
    border-collapse: collapse;
    width: 90%;
    margin-left: 5%;
  }

  #expand-measurement:focus,#graph-show:focus{
    outline:0;
  }
  #expand-measurement {
    position: absolute;
    top: 0px;
    right: 1px;
    width: 24px;
    height: 24px;
    border: solid white 0px;
    padding: 1px;
    margin: 8px;
    z-index: 1;
  }
  #graph-show {
    position: absolute;
    top: 0px;
    right: 30px;
    width: 24px;
    height: 24px;
    border: solid white 0px;
    padding: 1px;
    margin: 8px;
    z-index: 1;
  }

  #chartdiv {
    width	: 100%;
    height	: 500px;
  }


}
