// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------

// ----------------------------------------------------------------------------
// Widget-medicine styles
// ----------------------------------------------------------------------------
.widget-medicine {
  background-color: #844a6c;
  vertical-align: baseline !important;
  position: relative;
  z-index: 2;
  .title{
    font-size: 35px;
    margin-top: 20%;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.9);
  }

  #info-medicine{
    color: rgba(255, 255, 255, 0.8);
    font-size: 20px;
  }
  #info-medicine>a{
    color: rgba(255, 255, 255, 0.8);
    font-size: 20px;
  }
  #info-medicine a:hover{
    text-decoration: underline;
    color: #ffffff;
  }

  #expand-medicine:focus{
    outline:0;
  }
  #expand-medicine {
    position: absolute;
    top: 0px;
    right: 1px;
    width: 24px;
    height: 24px;
    border: solid white 0px;
    padding: 1px;
    margin: 8px;
    z-index: 1;
  }

}
