// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------

// ----------------------------------------------------------------------------
// Widget-pappointments styles
// ----------------------------------------------------------------------------
.widget-pappointments {
  background-color: #ba8b56;
  vertical-align: baseline !important;

  .title{
    font-size: 35px;
    margin-top: 10%;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.9);
  }
  table {
    border-collapse: collapse;
    width: 90%;
    margin-left: 5%;
  }

  table, th, td {
    border: 2px solid rgba(255, 255, 255, 0.8);
    color:rgba(255, 255, 255, 0.8)
  }

}
