// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------

// ----------------------------------------------------------------------------
// Widget-pappointments styles
// ----------------------------------------------------------------------------
.widget-pappointments {
  background-color: #97664c;
  vertical-align: baseline !important;

  .title{
    font-size: 35px;
    margin-top: 10%;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.9);
  }
  table {
    border-collapse: collapse;
    width: 90%;
    margin-left: 5%;
  }

  table, th, td {
    border: 2px solid rgba(255, 255, 255, 0.8);
    color:rgba(255, 255, 255, 0.8)
  }
  .past-detail{
    display: block;
    margin: auto;
    width: 24px;
    height: 24px;
    color:white;
    border: 0px;
    outline: 0;

  }
  .past-detail:hover{
    cursor: pointer;
  }

  #expand-pappointment:focus{
    outline:0;
  }
  #expand-pappointment{
    position: absolute;
    top: 0px;
    right: 1px;
    width: 24px;
    height: 24px;
    border: solid white 0px;
    padding: 1px;
    margin: 8px;
    z-index: 1;
  }

}
