// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color: #304384;
$value-color:       #fff;

$title-color:       rgba(255, 255, 255, 0.7);;


// ----------------------------------------------------------------------------
// Widget-weather styles
// ----------------------------------------------------------------------------
.widget-patient {

  background-color: $background-color;
  vertical-align: baseline !important;

  .title{
    font-size: 35px;
    margin-top: 20%;
    font-weight: bold;
  }

  .info{
    color: #cecece;
    font-size: 20px;
  }


}