<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= @diet_instruction.url %>
</p>

<%= link_to 'Edit', edit_diet_instruction_path(@diet_instruction) %> |
<%= link_to 'Back', diet_instructions_path %>
