<div class="text-center">
  <% if admin_signed_in? %>

    <h1>Nov element meritve</h1>

    <%= render 'form' %>

    <%= link_to 'Nazaj', controller: :admins, action: :sifranti %>

  <% else %>
      <h1>Dostop zavrnjen</h1>
  <% end %>
</div>

