<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @medicine_check.name %>
</p>

<%= link_to 'Edit', edit_medicine_check_path(@medicine_check) %> |
<%= link_to 'Back', medicine_checks_path %>
