<h1>Urejanje uporabniskega racuna</h1><br>

<div><br>
  <h5> <strong>Brisanje uporabniskega racuna</strong> </h5>
    <%= button_to 'Izbrisi racun', @user, method: :delete,  class: "btn btn-danger btn-xs",
                  style: 'color:#FFFFFF;', data: { confirm: 'Ali ste prepricani?' }%>
  <br>
  <h5> <strong>Sprememba gesla</strong> </h5>
  <%= link_to 'Spremeni geslo', edit_user_registration_path%>
</div>