<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<link rel="stylesheet" href="http://jonthornton.github.io/jquery-timepicker/jquery.timepicker.css">
<script src="http://jonthornton.github.io/jquery-timepicker/jquery.timepicker.js"></script>

<h1 style="text-align: center">Urnik</h1>
<div id="scheduler-content">
  <div>
    <table align="center">
      <tr>
        <td align="right">Izbira tedna:</td>
        <td align="left"><input type="text" id="weekpicker" required="required" name="newsdate"/>
        </td>
      </tr>
      <tr>
        <td align="right"></td>
        <td align="left"> <div id="neizpoljenDatum"></div></td>
      </tr>
      <tr>
        <td align="right">Dolžina termina:</td>
        <td align="left">
          <select id="interval-selector">
            <option value="15">15 min</option>
            <option value="20">20 min</option>
            <option value="30">30 min</option>
          </select>
        </td>
      </tr>
    </table>
    <br/>
  </div>
  <button onclick="urejanjeUrnika1()" style="margin:0 auto;display:block;" class="btn btn-info">Urejanje urnika</button>
</div>

<script>


  /*$("#weekly-schedule").dayScheduleSelector({
   interval :$("#interval-selector").val()
   });*/

  /* $('#work-start').timepicker({
   timeFormat:'G:i'
   });*/

  //prevod v slovenščino
  ( function (factory) {
    if (typeof define === "function" && define.amd) {

      // AMD. Register as an anonymous module.
      define(["../widgets/datepicker"], factory);
    } else {

      // Browser globals
      factory(jQuery.datepicker);
    }
  }(function (datepicker) {

    datepicker.regional.sl = {
      closeText: "Zapri",
      prevText: "&#x3C;Prejšnji",
      nextText: "Naslednji&#x3E;",
      currentText: "Trenutni",
      monthNames: ["Januar", "Februar", "Marec", "April", "Maj", "Junij",
        "Julij", "Avgust", "September", "Oktober", "November", "December"],
      monthNamesShort: ["Jan", "Feb", "Mar", "Apr", "Maj", "Jun",
        "Jul", "Avg", "Sep", "Okt", "Nov", "Dec"],
      dayNames: ["Nedelja", "Ponedeljek", "Torek", "Sreda", "Četrtek", "Petek", "Sobota"],
      dayNamesShort: ["Ned", "Pon", "Tor", "Sre", "Čet", "Pet", "Sob"],
      dayNamesMin: ["Ne", "Po", "To", "Sr", "Če", "Pe", "So"],
      weekHeader: "Teden",
      dateFormat: "dd.mm.yy",
      firstDay: 1,
      isRTL: false,
      showMonthAfterYear: false,
      yearSuffix: ""
    };
    datepicker.setDefaults(datepicker.regional.sl);

    return datepicker.regional.sl;

  }) );
  function urejanjeUrnika1(){
    if($("#weekpicker").val()==""){
      $("#weekpicker").css("border-color", "red");
      $("#scheduler-content > div:nth-child(1) > table > tbody > tr:nth-child(2)").show();
      $("#neizpoljenDatum").html("Izberite datum!");
    }
    else{
      var interval=$("#interval-selector").val();
      var weekendStart=$("#weekpicker").val().slice(0,10);
      $("#scheduler-content").html('<p style="text-align: center">Določite termine za paciente</p><div id="weekly-schedule"></div>');
      $("#weekly-schedule").dayScheduleSelector({
        interval :interval
      });
    }
  }


  $(document).ready(function () {
    $("#scheduler-content > div:nth-child(1) > table > tbody > tr:nth-child(2)").hide();

    var startDate,
        endDate,
        selectCurrentWeek = function () {
          window.setTimeout(function () {
            $('#weekpicker').datepicker('widget').find('.ui-datepicker-current-day a').addClass('ui-state-active')
          }, 1);
        };
    $('#weekpicker').datepicker({
      "showOtherMonths": true,
      "selectOtherMonths": true,
      firstDay: 1,
      "onSelect": function (dateText, inst) {
        var date = $(this).datepicker('getDate'),
            dateFormat = inst.settings.dateFormat || $.datepicker._defaults.dateFormat;
        var dayInWeek = date.getDay() - 1;
        if (dayInWeek == -1) {
          dayInWeek = 6;
        }
        startDate = new Date(date.getFullYear(), date.getMonth(), date.getDate() - dayInWeek);
        endDate = new Date(date.getFullYear(), date.getMonth(), date.getDate() - dayInWeek + 6);
        $('#weekpicker').val($.datepicker.formatDate(dateFormat, startDate, inst.settings) + ' - ' + $.datepicker.formatDate(dateFormat, endDate, inst.settings));
        selectCurrentWeek();
      },
      "beforeShow": function () {
        selectCurrentWeek();
      },
      "beforeShowDay": function (date) {
        var cssClass = '';
        if (date >= startDate && date <= endDate) {
          cssClass = 'ui-datepicker-current-day';
        }
        return [true, cssClass];
      },
      "onChangeMonthYear": function (year, month, inst) {
        selectCurrentWeek();
      }
    }).datepicker('widget').addClass('ui-weekpicker');

    $('.ui-weekpicker').on('mousemove', 'tr', function () {
      $(this).find('td a').addClass('ui-state-hover-over');
    });
    $('.ui-weekpicker').on('mouseleave', 'tr', function () {
      $(this).find('td a').removeClass('ui-state-hover-over');
    });


  });


</script>