
<div class="container">
  <div class="row">
    <h1>
      Izberi svoj tip uporabnika!
    </h1>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <div class="card">
        <canvas class="header-bg" width="250" height="70" id="header-blur"></canvas>
        <div class="avatar">
          <%= image_tag('/assets/user-icon.png')%>
        </div>
        <div class="content">
          <p><button type="button" class="btn btn-default" onclick="location.href = '/users/sign_in';">Pacient</button></p>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <canvas class="header-bg" width="250" height="70" id="header-blur"></canvas>
        <div class="avatar">
          <%= image_tag('/assets/user-icon.png')%>
        </div>
        <div class="content">
          <p><button type="button" class="btn btn-default" onclick="location.href = '/doctors/sign_in';">Zdravnik</button></p>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <canvas class="header-bg" width="250" height="70" id="header-blur"></canvas>
        <div class="avatar">
          <%= image_tag('/assets/user-icon.png')%>
        </div>
        <div class="content">
          <p><button type="button" class="btn btn-default" onclick="location.href = '/nurses/sign_in';">Medicinska sestra</button></p>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <canvas class="header-bg" width="250" height="70" id="header-blur"></canvas>
        <div class="avatar">
          <%= image_tag('/assets/user-icon.png')%>
        </div>
        <div class="content">
          <p><button type="button" class="btn btn-default" onclick="location.href = '/admins/sign_in';">Administrator</button></p>
        </div>
      </div>
    </div>
  </div>
</div>

