<div id="userCases">

  <div>
    <h3>
      Izberi svoj tip uporabnika!
    </h3>
    <br>
    <button class="userOptionButton" onclick="location.href = '/users/sign_in';">Pacient</button>
    <button class="userOptionButton" onclick="location.href = '/doctors/sign_in';">Zdravnik</button>
    <button class="userOptionButton" onclick="location.href = '/nurses/sign_in';">Medicinska sestra</button>
    <button class="userOptionButton" onclick="location.href = '/admins/sign_in';">Administrator</button>
  </div>

</div>

