<div class="text-center">
  <h1>Urejanje profila pacienta</h1>

  <% if  !(user_signed_in? or admin_signed_in?) %>
      <div>
        <% flash[:notice] = 'Potrdite vaš uporabniški račun.' %>
        <%= link_to("Preskoci", root_path) %><br>
      </div>
  <% end %>

  <%= render 'form' %>

  <!-- ce je user vpisan, potem naj bo cancel, ce pa ne (registracija) potem naj bo preskoci -->

 <!-- <%= link_to 'Show', @patient %>
  <%= link_to 'Back', patients_path %> -->
</div>