<div class="text-center">
  <h1>Dodajanje profila pacienta</h1>

  <%= render 'form' %>

  <!-- ce je user vpisan, potem naj bo cancel, ce pa ne (registracija) potem naj bo preskoci -->

  <!-- <%= link_to 'Show', @patient %>
  <%= link_to 'Back', patients_path %> -->
</div>