<div class="text-center">
  <h1>Editing Doctor</h1>

  <%= link_to("Preskoci", { controller: "doctors/registrations", action: "new" }) %>

  <%= render 'form' %>

  <%= link_to 'Show', @doctor %> |
  <%= link_to 'Back', doctors_path %>
</div>