<div class="text-center">
  <h1>Osebni profil</h1>

  <% if  !(nurse_signed_in?) %>
      <%= link_to("Preskoci", { controller: "nurses/registrations", action: "new" }) %>
  <% end %>

  <%= render 'form' %>

  <%= link_to 'Show', @nurse %> |
  <%= link_to 'Back', nurses_path %>
</div>