<div class="text-center">
  <% if doctor_signed_in? or user_signed_in? or admin_signed_in? %>
      <h1>Uredi meritev</h1>

      <%= render 'form' %>

      <%= link_to 'Back', measurements_path %>
  <% end %>
</div>
