<div class="text-center">
  <% if doctor_signed_in? or user_signed_in? or admin_signed_in? %>
    <h1>Nova meritev</h1>

    <%= render 'form' %>

      <% if admin_signed_in? %>
          <%= link_to 'Nazaj', controller: :admins, action: :sifranti %>
      <% end %>

  <% end %>
</div>