/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require chosen.min
 */


/*lightbox*/

#scheduler-popup{
    background-color: white;
    height: 450px;
    width: 600px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding:20px;
}



/*legenda*/

.my-legend .legend-scale ul {

    list-style: none;
    max-width: 215px;
    margin: 0 auto;
}
.legend-scale{
    margin: 0 auto;
    max-width: 350px;
}

.my-legend .legend-scale ul li {
    font-size: 80%;
    list-style: none;
    marging-bottom: 2px;
    line-height: 18px;

}
.legend-labels > li{
    margin-bottom: 3px;
    cursor: pointer;
}

.my-legend ul.legend-labels li span {
    display: block;
    float: left;
    height: 18px;
    width: 30px;
    margin-right: 5px;

    border: 1px solid #999;
}


/*kopiranje-prilepi*/
#copy-scheduler-button,#paste-scheduler-button{
    outline: none;
}


/*Urnik */
#weekly-schedule{
    margin-left: 50px;
    margin-right: 50px;
}

.schedule-table {
    border: 2px solid #b0b0b0;
}
.schedule-header{
    background-color: #5b9bd1;
}
#schedule-hide{
    margin-top: 2px;
}

#scheduler-scheduler > div:nth-child(3){
    margin : 0 auto;
    max-width:100px;
}

.schedule-rows td {
    width: 80px;
    height: 30px;
    margin: 3px;
    padding: 5px;
    background-color: rgba(86, 72, 72, 0.27);
    cursor: pointer;
}

.schedule-rows td:first-child {
    background-color: transparent;
    text-align: right;
    position: relative;
    top: -12px;

}
#weekly-schedule > div > table > thead > tr > th{
    text-align: center;
}


.schedule-rows td[data-selecting='selecting1'],.schedule-rows td[data-selected=selected]{ background-color: #238923; }
.schedule-rows td[data-selecting='selecting2'],.schedule-rows td[data-selected=selected-taken] { background-color: #891d00; }
.schedule-rows td[data-selecting='selecting3'],.schedule-rows td[data-selected=selected-other] { background-color: #ffb600; }

.schedule-rows td[data-disabled] { opacity: 0.55; }
.schedule-table{
    border-collapse: collapse;
}
.schedule-table td{
    border: 1px solid white;
}
.schedule-table tr{
    padding:2px !important;
}

.schedule-table{
    width:500px;
    margin:auto;
}




/*izbira v tednu*/

#ui-datepicker-div > div > a.ui-datepicker-prev.ui-corner-all,#ui-datepicker-div > div > a.ui-datepicker-next.ui-corner-all{
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
}
#ui-datepicker-div > div > a.ui-datepicker-prev.ui-corner-all:hover,#ui-datepicker-div > div > a.ui-datepicker-next.ui-corner-all:hover{
    background: transparent;
    cursor: pointer;
}


.ui-datepicker-title{
    background-color: dodgerblue;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top:5px;
}



.ui-datepicker-calendar{
    background-color: rgb(108, 108, 108);
}

.ui-datepicker {
    background-color: #fff;
    border: 1px solid #66AFE9;
    border-radius: 4px;
    box-shadow: 0 0 8px rgba(102,175,233,.6);
    display: none;
    margin-top: 4px;
    padding: 10px;
    width: 240px;
}
.ui-datepicker a,
.ui-datepicker a:hover {
    text-decoration: none;

}
.ui-datepicker a:hover,
.ui-datepicker td:hover a {
    color: white;
    -webkit-transition: color 0.1s ease-in-out;
    -moz-transition: color 0.1s ease-in-out;
    -o-transition: color 0.1s ease-in-out;
    transition: color 0.1s ease-in-out;
}
.ui-datepicker .ui-datepicker-header {
    margin-bottom: 4px;
    text-align: center;
}
.ui-datepicker .ui-datepicker-title {
    font-weight: 700;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
    cursor: default;
    font-family: 'Glyphicons Halflings';
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    height: 20px;
    line-height: 1;
    margin-top: 2px;
    width: 30px;
}
.ui-datepicker .ui-datepicker-prev {
    float: left;
    text-align: left;
}
.ui-datepicker .ui-datepicker-next {
    float: right;
    text-align: right;
}
.ui-datepicker .ui-datepicker-prev:before {
    content: "\e079";
}
.ui-datepicker .ui-datepicker-next:before {
    content: "\e080";
}
.ui-datepicker .ui-icon {
    display: none;
}
.ui-datepicker .ui-datepicker-calendar {
    table-layout: fixed;
    width: 100%;
}
.ui-datepicker .ui-datepicker-calendar th,
.ui-datepicker .ui-datepicker-calendar td {
    text-align: center;
    padding: 4px 0;
}
.ui-datepicker .ui-datepicker-calendar td {
    border-radius: 4px;
    -webkit-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
    -moz-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
    -o-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
    transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
}
.ui-datepicker .ui-datepicker-calendar td:hover {
    color:white;
    cursor: pointer;
}
.ui-datepicker .ui-datepicker-calendar td a {
    text-decoration: none;
}
.ui-datepicker .ui-datepicker-current-day {
    background-color: #4289cc;
}
.ui-datepicker .ui-datepicker-current-day a {
    color: #fff
}
.ui-datepicker .ui-datepicker-calendar .ui-datepicker-unselectable:hover {

    cursor: default;
    color:#333;
}

.ui-priority-secondary{
    color: #c5c5c5 !important;
}


/*konec urnika*/


td {
    padding: 7px;
}

body {
    background: white;
}

a.btn {
    color: #FFFFFF;
}

.btn-info {
    background-color: #5b9bd1;
}
.btn-info:hover {
     background-color: #005e84;
}

.izberi-sifrante {
    padding-bottom: 10px;
}

td.buttons {
    display: flex;
}

a.right-padding-link {
    margin-right: 10px;
}

header {
    background-color: #5b9bd1;
    padding: 20px;
    margin-bottom: 20px;
}

.col-md-3 {
    padding-left: 0px;
    padding-right: 0px;
    width: 20%;
}

.col-md-9 {
    padding-left: 0px;
    padding-right: 0px;
    width: 80%
}

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

div.profile {
    margin: 0px;
}

div.card {
    background-color: #5b9bd1;
}

div.content {
    padding: 10px;
}

div.panel {
    margin-bottom: 0px;
}
.show-table {
    margin-bottom: 20px;
}

.column-name {
    font-style: oblique;
    font-weight: bold;
}

.main-row {
    background-color: #5b9bd1;
}

/* Profile container */
.profile {
    margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
    padding: 20px 0 10px 0;
    background: #fff;
}

.profile-userpic img {
    float: none;
    margin: 0 auto;
    align-content: center;
    width: 50%;
    height: 50%;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
}

.profile-usertitle {
    text-align: center;
    margin-top: 20px;
}

.profile-usertitle-name {
    color: #5a7391;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 7px;
}

.profile-usertitle-job {
    text-transform: uppercase;
    color: #5b9bd1;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 15px;
}

.profile-userbuttons {
    text-align: center;
    margin-top: 10px;
}

.profile-userbuttons .btn {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    padding: 6px 15px;
    margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
    margin-right: 0px;
}

.profile-usermenu {
    margin-top: 30px;
}

.profile-usermenu ul li {
    border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
    border-bottom: none;
}

.profile-usermenu ul li a {
    color: #93a3b5;
    font-size: 14px;
    font-weight: 400;
}

.profile-usermenu ul li a i {
    margin-right: 8px;
    font-size: 14px;
}

.profile-usermenu ul li a:hover {
    background-color: #fafcfd;
    color: #5b9bd1;
}

.profile-usermenu ul li.active {
    border-bottom: none;
}

.profile-usermenu ul li.active a {
    color: #5b9bd1;
    background-color: #f6f9fb;
    border-left: 2px solid #5b9bd1;
    margin-left: -2px;
}

/* Profile Content */
.profile-content {
    padding: 20px;
    background: #fff;
    min-height: 460px;
}


/* Cloneable dropdowns */
.cloneable-unselected > button {
    display: none;
}

.cloneable-selected > select > option:first-child {
    display: none;
}

/*za pregled*/
.inline{
    display: inline-block;

}
/*hides element*/
.hide{
    display:none !important;
}

button.long {
    width: 50%;
}
