<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= @medicine_instruction.url %>
</p>

<%= link_to 'Edit', edit_medicine_instruction_path(@medicine_instruction) %> |
<%= link_to 'Back', medicine_instructions_path %>
