<!DOCTYPE html>
<html>
<head>
  <title>TPOSpine</title>
  <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
